config DRIVERS_HDF_INPUT
    bool "Enable HDF input driver"
    default n
    depends on DRIVERS_HDF
    help
      Answer Y to enable HDF input driver.

config DRIVERS_HDF_TP_5P5_GT911
    bool "Enable HDF tp 5P5 GT911 driver"
    default n
    depends on DRIVERS_HDF_INPUT
    help
      Answer Y to enable HDF TP 5P5 GT911 driver.

config DRIVERS_HDF_TP_2P35_FT6236
    bool "Enable HDF tp 2P35 FT6236 driver"
    default n
    depends on DRIVERS_HDF_INPUT
    help
      Answer Y to enable HDF TP 2P35 FT6236 driver.

config DRIVERS_HDF_INPUT_INFRARED
    bool "Enable HDF infrared driver"
    default n
    depends on DRIVERS_HDF_INPUT
    help
      Answer Y to enable HDF infrared driver.

config DRIVERS_HDF_TP_5P43_FT5406
    bool "Enable HDF tp 5P43 FT5406 driver"
    default n
    depends on DRIVERS_HDF_INPUT
    help
      Answer Y to enable HDF TP 5P43 FT5406 driver.
      
config ARCH_NXP_TOUCH
    bool "Enable HDF tp nxp ft5x06 touch"
    default n
    depends on DRIVERS_HDF_INPUT
    help
      Answer Y to enable HDF TP nxp ft5x06 touch.