#ifndef ${driver_upper_case}_H
#define ${driver_upper_case}_H

#include "sensor_${device_lower_camel_case}_driver.h"
#include "sensor_config_parser.h"

int32_t Read${driver_upper_camel_case}Data(struct SensorCfgData *cfg, struct SensorReportEvent *event);
struct ${driver_upper_camel_case}DrvData {
    struct IDeviceIoService ioService;
    struct HdfDeviceObject *device;
    struct SensorCfgData *sensorCfg;
};

#endif /* ${driver_upper_case}_H */
